.overlay {
  position: fixed;
  top: 1%;
  right: 1%;
  height: auto;
  z-index: 999;
  min-width: 200px;
  max-width: 50%;
  transition: width 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  animation: slideInFromRight 400ms ease-out forwards;
}

@media (max-width: 575.98px) {
  .overlay {
    left: 3%;
    right: 3%;
    width: auto !important;
    max-width: 94%;
  }
}

@keyframes slideInFromRight {
  0% { transform: translateX(120%); opacity: 0; }
  70% { transform: translateX(-5%); opacity: 1; }
  100% { transform: translateX(0); opacity: 1; }
}